* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #F2F2F2;
    font-family: "Roboto", sans-serif;
    color: #333;
}

main {
    margin: 32px auto;
    padding: 0 16px;
    max-width: 375px;
    gap: 16px;
}

.column {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

form {
    gap: 8px;
}

/** Note input */
textarea {
    height: 120px;
}

.note {
    padding: 16px;
    border: 2px solid #4F4F4F;
    border-radius: 16px;
    font-family: inherit;
    font-size: 24px;
}

textarea::placeholder {
    color: #BDBDBD;
}

/** Create button */
form button {
    height: 45px;
    background: #4F4F4F;
    font-size: 24px;
    color: #FFF;
}

.btn {
    border: none;
    border-radius: 16px;
    font-family: inherit;
    font-weight: bold;
    transition: background 0.3s;
    cursor: pointer;
}

form button:hover {
    background: #666;
}

form button:active {
    background: #333;
}

/** Note container */
#container {
    gap: 16px;
}

.saved_note {
    background: #FFF;
    gap: 13px;
    word-wrap: break-word;
}

.note_btn {
    width: 83px;
    height: 30px;
    background: #E0E0E0;
    font-size: 18px;
    color: #4F4F4F;
    align-self: flex-end;
}

.note_btn:hover {
    background: #CCC;
}

.note_btn:active {
    background: #B3B3B3;
}